@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --p-bg-color:#2a2a2a;
    --menu-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #c181d5;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

/* Dark Mode Toggle*/
label{
    position: absolute;
    width: 7.91vh;
    height: 3.87vh;
    right: 3.515vh;
    top: 1.915vh;
    border: 0.352vh solid;
    border-radius: 3.515vh;
}
label:before{
    position: absolute;
    content: '';
    width:2.81vh;
    height: 2.81vh;
    left: 0.175vh;
    top: 0.175vh;
    border-radius: 50%;
    background: #f1ebeb;
    cursor: pointer;
    transition: 0.4s;
}
label.active:before{
    left: 4.22vh;
    background: #121111;
}
body.night{
    --bg-color: #edeef3;
    --second-bg-color: #f8f7f7;
    --p-bg-color:#8575ce;
    --menu-color: var(--main-color);
    --text-color: #050505;
    --second-color: #0d0c0c;
    --main-color: #9a9adf;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--menu-color);
    padding: 2.64vh 15%;
    border-bottom: 0.53vh solid #927070;
    transition: all .45s ease;
    border-radius: 0% 0% 20% 20%;
}

span {
    color: var(--main-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: 2.89vh;
    font-weight: 500;
    margin: 0 4.394vh;
    transition: all .45s ease;
}

section {
    padding: 12.31vh 15% 21.09vh;
}

/*  HomePage */
.home {
    position: relative;
    height: 100vh;
    width: 100%;
   padding: 28.12vh 10.545vh 21.09vh 17.545vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--second-bg-color);
}

.white-text {
     color: var(--text-color);
  }
  
  #dynamic-text {
    transition: opacity 0.7s ease-in-out;
    color: var(--main-color)
  }
  
.slide {    
    margin-bottom: 3.515vh;
}

.one {
    display: inline-block;
    margin-right: 2.64vh;
    padding: 0 2.64vh;
    line-height: 5.624vh;
    font-size: 3.52vh;
    font-weight: 500;
    border-radius: 0.88vh;
    background: var(--main-color);
    color: var(--text-color);
}

.two {
    display: inline-block;
    color: var(--second-color);
    font-size: 3.52vh;
    font-weight: 500;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 1.406vh ;

}

.home-text h3 {
    color: var(--text-color);
    margin: 0 0 6.152vh;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 7.03vh;
}

.button {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 12px;
    background: var(--main-color);
    border-radius: 25px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .45s ease;
}
.btn:hover {
    transform: scale(0.9);
}

/*  About Section */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background-color: var(--second-bg-color);
}

.about-img img {
    max-width: 85%;
    height: 50%;
    width: auto;
    border-radius: 25px;

}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4 {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 10px 0 5px;
}
svg{
    height: 38px;
    width: 38px;
}


.about-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    margin-bottom: 1rem;
}


.main-text {
    text-align: center;
}

.main-text p {
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

/*  Profiles Section */

.Profiles {
    background: var(--second-bg-color);
    padding: 80px 40px;
}

.Profiles-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    
}

.box {
    background: var(--p-bg-color);
    padding: 35px 30px;
    border-radius: 18px;
    margin-top: 0%;
    transition: all .45s ease;
}

.s-icons i {
    font-size: 32px;
    margin-bottom: 20px;
}

.box h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}

.box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

/* Contact Section */
.contact {
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h4 {
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.contact-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}

.list {
    margin-bottom: 1rem;
}

.list li {
    margin-bottom: 12px;

}

.list li a {
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}

.list li a:hover {
    color: var(--text-color);
    transform: translateY(5px);

}

.contact-icons i {
    height: 45px;
    width: 45px;
    color: var(--text-color);
    font-size: 22px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover {

    color: var(--main-color);
}

.contact-form form {
    position: relative;
}

.contact-form form input,form textarea {
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-form textarea {
    resize: none;
    height: 240px;
}

.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}

.contact-form .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.bx-menu{
    visibility: hidden;
}

/*Media Queries*/

@media (max-width: 1480px) {
    header {
        padding: 12px 2.5%;
        transition: .1s;
    }

    section {
        padding: 70px 15% 120px;
    }

    .Profiles{
       padding: 70px 40px;
    }
}

@media (max-width: 1100px){
    :root{
        --big-font:4rem;
        --h2-font:2.5rem;
        --p-font:1rem;
        transition: .1s;
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
}


/* FOR DESKTOP MODE IN PHONES */
@media only screen and (min-width: 960px) and (orientation: portrait) {

    .home{
        padding-left: 15%;
    }
    .one{
        font-size: 3rem;
    }
    .two{
        font-size: 3rem;
    }
    .home-text h1{
        font-size:8rem;
    }
    
   .home-text h3{
    font-size:4rem;
   }

   .home-text p{
    font-size: 2.5rem;
   }

   .btn{
    font-size: 3rem;
    padding: 15px;
   }

   label{
    width: 2.91vh;
    height: 1.87vh;
    right: 2.515vh;
    top: 1.2vh;
   }

   label:before{
    position: absolute;
    content: '';
    width:1vh;
    height:1vh;
    left: 0.175vh;
    top: 0.1vh;
   }

   label.active:before{
    left: 1vh;
    background: #121111;
}

    body {
    font-size: 1rem; /* Adjust as needed */
}

header {
    border-bottom: 2px solid #ccc;
    border-radius: 10px;
    border-radius: 0% 0% 10% 10%;
}

.navlist {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.navlist a {
    font-size: 2rem;
    margin: 0 1rem;
}


.about-img img{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    margin-top: 15%;
}
.contact{
    gap:0.5rem;
}
.about {
    grid-template-columns: 1fr;
}
.about-img img{
display: flex;
flex-wrap: wrap;
width: 50%;
height: 50%;
}

.about-text p{
    font-size:0.6vh;
}
.main-text{
    margin-top: 5rem;
}
.Profiles-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%,auto));
        align-items: center;
        gap: 2rem;
        margin-top: 5rem;
    }

    .s-icons i {
        font-size: 5vh;
        margin-bottom: 20px;
    }

    .contact {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        padding: 1rem;
    }

    .contact-text h2 {
        font-size: 8rem;
        margin-bottom: 5%;
        margin-top: 20%;
    }

    .contact-text h4 {
        font-size: 2rem;
    }

    .contact-text p {
        font-size:0.9rem;
        margin-bottom: 20px;
    }


    .contact-icons {
        display: flex;
        justify-content: center;
        gap: 2rem; /* Increase gap between icons */
    }

    .contact-icons i {
        height: 60px;
        width: 60px;
        font-size: 3vh;
        margin-right: 10px;
        margin-bottom: 30px;

    }

    .contact-form textarea {
        height: 200px;
    }

    .contact-form form input,form textarea {
    font-size: 2vh;
    margin-bottom: 50px;
    }


    .contact-form .submit {
        width: 12vh;
        font-size: 20px;
        margin: 0 auto;
        display: block;
        margin-bottom: 15%;

    }
}


@media (max-width:920px){
    .about{
        grid-template-columns: 1fr;
    }
    .HomeImage{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact{
        grid-template-columns: 1fr;
    }
}



@media (min-width:0px) and (max-width:260px)
{
    
    .home{
        padding-left: 15%;
    }
    .one{
        font-size:1rem;
    }
    .two{
        font-size: 1rem;
    }
    .home-text h1{
        font-size:1rem;
    }
   .home-text h3{
    font-size:0.75rem;
   }
   .home-text p{
    font-size: small;
   }
   .contact-icons i{
    display: inline;
    height: fit-content;
    width: fit-content;
   }
   
   .Profiles{
    padding-top: 11%;
   }
   .contact{
    padding-top: 11%;
   }

    .bx-menu{
        visibility: visible;
        position: fixed;
        top: 0vh;
        right: 2vh;
        display:block;
        color: var(--text-color);
        margin:20px;
    }
    
    .Toggling.active{
        left:0%;
    }

    .Toggling ul{
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: var(--menu-color);
        margin-top: 0%;
        top:10%;
        align-items: center;
        border-bottom: 0.53vh solid #927070;
        border-radius: 0% 0% 20% 20%;
    } 

    .Toggling{
        border: 0px;
        background-color: #927070;
        padding: 0%;
        left:-100%;
    }
   
   
    .about-img img{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 50%;
        margin-top: -15%;
    }
   
    label {
        position: absolute;
        width: 1.91vh;
        height: 5.56vh;
        left:2vh;
        
        top: 4.25vh;
        border: 0.352vh solid;
        border-radius: 3.515vh;
    }


    label:before{
        position: absolute;
        content: '';
        width:1.0vh;
        height: 1.0vh;
        left: 0.175vh;
        top: 0.175vh;
        border-radius: 50%;
        background: #f1ebeb;
        cursor: pointer;
        transition: 0.4s;
    }
    label.active:before{
        left: 0.22vh;
        top:3.3vh;
        background: #121111;
    }    
   
}

/* For Medium Phones */
@media (min-width:260px) and (max-width:388px)
{
    
    .home{
        padding-left: 15%;
    }
    .one{
        font-size:1.2rem;
    }
    .two{
        font-size: 1.2rem;
    }
    .home-text h1{
        font-size:3rem;
    }
   .home-text h3{
    margin-top: 20px;
    margin-bottom: 2vh;
    font-size:1.75rem;
   }
   .home-text p{
    font-size: 1rem;
   }
   .btn {
    margin-bottom: 25%;
}
   .contact-icons i{
    display: inline;
    height: fit-content;
    width: fit-content;
   }
   .contact{
    gap:0.5rem;
}


.about {
    grid-template-columns: 1fr;
}
.about-img img{
display: flex;
flex-wrap: wrap;
width: 50%;
height: 50%;
}

.about-text p{
    font-size:1.6vh;
}

.Profiles-content {
    display: flex;  /* Change grid to flex */
    flex-wrap: wrap; /* Allow wrapping if needed */
    justify-content: center; /* Center items */
    gap: 2rem; /* Maintain spacing */
}



    .bx-menu{
        visibility: visible;
        position: fixed;
        top: 0vh;
        right: 2.5vh;
        display:block;
        color: var(--text-color);
        margin:20px;
        font-size: 3vh;
    }
    
    .Toggling.active{
        left:0%;
    }

    .Toggling ul{
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: var(--menu-color);
        margin-top: 0%;
        top:10%;
        align-items: center;
        border-bottom: 0.53vh solid #927070;
        border-radius: 0% 0% 20% 20%;
    } 

    .Toggling{
        border: 0px;
        background-color: #927070;
        padding: 0%;
        left:-100%;
    }
   
   
    .about-img img{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 50%;
        margin-top: -15%;
    }
   
    label {
        position: absolute;
        width: 1.91vh;
        height: 5.56vh;
        left:2vh;
        
        top: 4.25vh;
        border: 0.352vh solid;
        border-radius: 3.515vh;
    }

    label:before{
        position: absolute;
        content: '';
        width:1.0vh;
        height: 1.0vh;
        left: 0.175vh;
        top: 0.175vh;
        border-radius: 50%;
        background: #f1ebeb;
        cursor: pointer;
        transition: 0.4s;
    }
    label.active:before{
        left: 0.22vh;
        top:3.3vh;
        background: #121111;
    }    
   
}

@media (min-width:388px) and (max-width: 535px)
{
        
    .home{
        padding-left: 15%;
    }
    .bx-menu{
            visibility: visible;
            position: fixed;
            top: 0vh;
            right: 5vh;
            display:block;
            color: var(--text-color);
            margin:20px;
            font-size: 3vh;
        }
        
        .Toggling.active{
            left:0%;
        }

        .Toggling ul{
            flex-direction: column;
            width: 100%;
            height: 100%;
            background-color: var(--menu-color);
            margin-top: 0%;
            top:10%;
            align-items: center;
            border-bottom: 0.53vh solid #927070;
            border-radius: 0% 0% 20% 20%;
        } 

        .Toggling{
            border: 0px;
            background-color: #927070;
            padding: 0%;
            left:-100%;
        }
    
        .home-text h1{
            font-size: 4.22vh;
        }
        .about-img img{
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            height: 50%;
            margin-top: -15%;
        }
        .contact{
            gap:0.5rem;
        }
        .about {
            grid-template-columns: 1fr;
        }
    .about-img img{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 50%;
    }

        /*Changes in The Dark Mode Toggle */
        label {
            position: absolute;
            width: 1.91vh;
            height: 5.56vh;
            left:2vh;
            
            top: 4.25vh;
            border: 0.352vh solid;
            border-radius: 3.515vh;
        }

        label:before{
            position: absolute;
            content: '';
            width:1.0vh;
            height: 1.0vh;
            left: 0.175vh;
            top: 0.175vh;
            border-radius: 50%;
            background: #f1ebeb;
            cursor: pointer;
            transition: 0.4s;
        }
        label.active:before{
            left: 0.22vh;
            top:3.3vh;
            background: #121111;
        }    
        
}

@media (min-width:535px) and (max-width:810px)
{
            .one{
                font-size: 1rem;
            }
            .two{
                font-size: 1rem;
            }
            .home-text h1{
                font-size:2rem;
            }
        .home-text h3{
            font-size:1.5rem;
        }
        .home-text p{
            font-size: 3.5vh;
        }

        label{
            position: absolute;
            width: 5.91vh;
            height: 1.87vh;
            right: 18.515vh;
            top: 3.915vh;
            border: 0.352vh solid;
            border-radius: 3.515vh;
        }
        label:before{
            position: absolute;
            content: '';
            width: 0.81vh;
            height: 0.81vh;
            left: 0.35vh;
            top: 0.22vh;
            border-radius: 50%;
            background: #f1ebeb;
            cursor: pointer;
            transition: 0.4s;
        }
        label.active:before{
            left: 4.22vh;
            background: #121111;
        }

        .about{
            grid-template-columns: repeat(2, 1fr);
            }
        .about-img img{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
        }

        .contact{
            gap:0.5rem;
        }
        .Profiles-content{
            gap:1rem;
        }
}
